//colors
$white: #FFFFFF;
$green: #669966;
$coral: #E44C50;
$dark_green: #4F6C4F;
$gray: #D0D0D0;
$light_gray: #DFDFDF; 
$bg_input: #F3F3F3;
$border_input: #EAEAEA;
$color_input: #AEAEAE;
$dark_gray: #636363;
$bg_line_menu: #F6F6F6;
$black: #000000;
$header_text: #3F3F3F;
$light_text: #999999;
$email_text: #DBDBDB;

//fonts
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs21: 21px;
$fs24: 24px;
$fs27: 27px;
$fs30: 30px;
$fs33: 33px;
$fs40: 40px;
$fs45: 45px;

$ff: 'Open Sans', sans-serif;

$font_light: 300;
$font_normal: 400;
$semi_bold: 600;
$bold: 700;

//media
$container-width: 1200px;