@import "variables.scss";
@import "mixins.scss";
@import "media-common.scss";

@media all and (max-width: 1660px) {
    .contacts {
        .container {
            .contacts-middle {
                .contacts-map {
                    iframe {
                        width: 700px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1250px) {
    .contacts {
        background-position-y: 855px;
        .container {
            .contacts-top {
                margin-bottom: 50px;
            }
            .contacts-middle {
                display: block;
                padding-bottom: 30px;
                .contacts-inform {
                    width: 100%;
                    h5 {
                        padding-top: 30px;
                    }
                    p {
                        padding-top: 10px;
                    }
                }
                .contacts-map {
                    margin-top: 30px;
                    iframe {
                        width: 100%;    
                        height: 350px;                     
                    }
                }
            }
        }
    }
}

@media all and (max-width: 940px) {
    .contacts {
        padding-top: 110px;
    }
}

@media all and (max-width: 640px) {
    .contacts {
        background-position-y: 775px;
        padding-top: 90px;
        .container {
            .contacts-top {
                margin-bottom: 30px;
                div:first-child {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                div:nth-child(2) {
                    button,
                    button:first-child {
                        font-size: $fs-card;
                    }
                }
            }
            .contacts-middle  {
                .contacts-inform {
                    & > h5 {
                        font-size: $fs-main;
                        line-height: 29px;
                        padding-top: 10px;
                    }
                    p {
                        font-size: $fs-card;
                        line-height: 22px;
                    }
                    a:hover {
                        height: 27px;
                        width: 165px;
                        p {
                            padding-top: 2px;
                        }
                    }
                } 
            }
        }
    }
}