@import "variables.scss";
@import "mixins.scss";
@import "media-common.scss";

@media all and (max-width: 1660px) {
    .bg {
        width: 100%;
        .header {
            .container {
                .header-descr {
                    padding-top: 60px;                
                }
                .header-pict {
                    img:first-child {
                        right: -140px;
                        top: 120px;
                    }
                    img:nth-child(2) {
                        right: -92px;
                        top: 194px;
                    }
                }
            }
        }
        .catalogs {
            .cards {
                .card-type-products {
                    width: auto;
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                    
                    button {
                        @include btn-product (250px);
                    }
                    h6  {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
                .card-type-products:hover {
                    h6 {
                        font-weight: $semi-bold;
                        font-size: $fs-main;
                        line-height: 31px;
                    }
                    img {
                        left: 0px;
                    }
                }
                div.card-type-products:nth-child(4):hover {
                    & > h6 {
                        padding-left: 70px;
                        padding-right: 70px;
                    }
                }
            }
    
        }
        .discount-items {
            .container {
                & > p {
                    width: 800px;
                }
                .cards-main {
                    padding-left: 45px;
                    padding-right: 45px;
                    .slick-prev {
                        left: 0px;
                        width: 40px;
                        height: 40px;
                        background-size: contain;
                    }
                    .slick-next {
                        width: 40px;
                        height: 40px;
                        background-size: contain;
                    }
                }
                .card {
                    padding-left: 20px;
                    padding-right: 20px;
                    .card-body {
                        a {
                            margin-right: 0px;
                        }
                    }
                    button {
                        margin-left: 40px;
                    }
                }
            }
        }
    }
    .present {
        .present-top {
            .container {
                h3 {
                    margin-right: 75px;
                }
            }
        }
        .present-body {
            .container {
                .present-body-pict {
                    img:first-child {
                        top: -55px;
                        width: 566px;
                    }
                    img:last-child {
                        bottom: 214px;
                        width: 393px;
                    }
                }
                .present-body-descr {
                    margin-left: 550px;
                }
            
            }
        }
    }
    .inform {
        p {
            width: 1050px;
        }           
    }
    .news {
        div {
            div {
                .container {
                    .news-first-str,
                    .news-second-str {
                        & > div {
                            padding-bottom: 30px;
                        }
                        & > div:first-child {
                            height: auto;
                            padding-left: 40px;
                            padding-right: 40px;
                            img {
                                display: none;
                            }
                        }
                        & > div:last-child {
                            padding-left: 40px;
                            padding-right: 40px;
                            height: auto;
                            
                        } 
                    }       
                }
            }
        }
        
    }
    .networks {
        .container {
            .networks-body {
                 & > div:last-child {
                    img:nth-child(3),
                    img:nth-child(4) {
                        display: none;
                    }
                }        
            }
        } 
    }
}

@media all and (max-width: 1250px) {
    .bg {
        background: none;
        .header-top {
            background: $white;
            box-shadow: 0px 5px 20px rgba(157, 157, 157, 0.25);
            position: fixed;
            z-index: 10;
            width: 100%;
            .container {
                ul:nth-child(3) {
                    & > li {
                        svg:hover {
                            stroke: $orange;
                        }
                        input:hover:not(:focus) {
                            background: url(../img/search-orange.svg) no-repeat top left;
                        }
                    }
                }
            }
        }
        .header {
            padding-top: 160px;
            .container {
                .header-descr {
                    h1 {                        
                        font-size: $fs-h3;
                    }
                    button {
                        @include btn-product (320px);
                        margin-top: 10px;
                        margin-bottom: 320px;
                    }
                    
                }
                .header-pict {
                    img:first-child {
                        width: 80%;
                        right: -48px;
                        top: 268px;
                    }
                    img:nth-child(2) {
                        width: 66%;
                        right: -12px;
                        top: 320px;
                    }
                }
            }
        }
        .catalogs {
            h3 {
                font-size: $fs-h4;
            }
            .cards {
                flex-wrap: wrap;
                justify-content: space-around;
                .card-type-products {
                    width: 400px;
                    margin-bottom: 20px;
                    &:hover {
                        img {
                            left: 52px;
                        }
                    }
                    

                }
            }
        }
        .discount-items {
            .container {
                text-align: right;
                h3 {
                    font-size: $fs-h4;
                }
                & > p {
                    width: auto;
                }
            }
        }
    }
    .present {
        .present-top {
            background: url(../img/background3-pink.svg) no-repeat 0 -60px;
            .container {
                text-align: left;
                h3 {
                   font-size: $fs-h4;
                   margin-right: 0;
                   width: auto;
                }
            }
        }
        .present-body {
            .container {
                .present-body-pict {
                    img {
                        display: none;
                    }
                }
                .present-body-descr {
                    margin-left: 0;
                    width: auto;
                }
            }
        }
    }
    .inform {
        div {
            div {
                .container {
                    h3 {
                        font-size: $fs-h4;
                        padding-top: 95px;
                    }
                    p {
                        width: auto;
                    }  
                    & > button {
                        @include btn-product (320px);
                        
                    }
                }
            }   
        }
               
    }
    .news {
        & > div {
            & > div {
                .container {
                    .news-top {
                        h3 {
                            font-size: $fs-h4;
                        }
                    }
                    .news-first-str,
                    .news-second-str {
                        display: flex;
                        flex-wrap: wrap;
                        & > div {
                            width: 100%;
                        }
                        & > div:first-child {
                            margin-right: 0;
                        }
                        & > div:last-child {
                            p {
                                width: auto;
                            }
                        } 
                    }
                    .news-first-str {
                        & > div:first-child {
                            margin-bottom: 20px;
                        }
                    }
                    .news-second-str {
                        & > div:first-child {
                            margin-left: 0;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
    .networks {
        & > div {
            .container {
                .networks-body {
                    padding-bottom: 60px;
                    & > div:first-child {
                        & > img:first-child {
                            display: none;
                        }
                        & > img:last-child {
                            top: -25px;
                            left: -340px;
                        }
                    }
                    & > div:last-child {
                        margin-left: 380px;
                        img {
                            width: 70%;
                        }
                        & > svg:last-child {
                            top: 290px;
                        }
                    }
                    
                }
            }
        }
    }
}

@media all and (max-width: 940px) {
    .bg {
        .header {
            padding-top: 110px;
            .container {
                .header-descr {
                    h1 {                        
                        font-size: $fs35;
                        padding-bottom: 20px;
                    }
                    p {
                        font-size: $fs20;
                        line-height: 24px;                    }
                    button {
                        @include btn-card (250px);
                        margin-bottom: 170px;
                    }
                    
                }
                .header-pict {
                    img:first-child {
                        width: 68%;
                        right: -48px;
                        top: 228px;
                    }
                    img:nth-child(2) {
                        width: 55%;
                        right: -26px;
                        top: 261px;
                    }
                }
            }
        }
        .catalogs {
            h3 {
                font-size: $fs30;
                margin-bottom: 30px;
            }
        }
        .discount-items {
            .container {
                text-align: left;
                h3 {
                    font-size: $fs30;
                }
                & > p {
                    font-size: $fs20;
                    line-height: 24px;
                }
                button {
                    margin-bottom: 30px;
                }
                .cards-main {
                    padding-left: 70px;
                    padding-right: 70px;
                    .slick-prev {
                        width: 50px;
                        height: 50px;
                    }
                    .slick-next {
                        width: 50px;
                        height: 50px;
                    }
                }
                .card {
                    padding-left: 30px;
                    padding-right: 30px;
                    .card-body {
                        a {
                            margin-right: 15px;
                        }
                    }
                    button {
                        margin-left: 100px;
                    }
                }
            }
        }
    }
    .present {
        .present-top {
            background: $light-pink;
            .container {
                padding-top: 30px;
                padding-bottom: 20px;
                h3 {
                   font-size: $fs30;
                }
            }
        }
        .present-body {
            .container {
                .present-body-descr {
                    h5 {
                        font-size: $fs-main;
                    }
                    p {
                        font-size: $fs20;
                        line-height: 25px;
                    }
                    div:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    .inform {
        div {
            div {
                .container {
                    h3 {
                        font-size: $fs30;
                        padding-top: 115px;
                        padding-bottom: 30px;
                    }
                    p {
                        font-size: $fs20;
                        line-height: 24px;
                    }  
                    & > button {
                        @include btn-card (250px);
                        margin-top: 40px;
                        
                    }
                }
            }   
        }
               
    }
    .news {
        & > div {
            & > div {
                .container {
                    .news-top {
                        h3 {
                            font-size: $fs30;
                            padding-top: 0;
                        }
                        button {
                            margin-top: 5px;
                            font-size: $fs20;
                        }
                    }
                    .news-first-str,
                    .news-second-str {
                        h6 {
                            font-size: $fs30;
                        }
                    }
                    .news-second-str {
                        padding-bottom: 50px;
                    }
                }
            }
        }
    }
    .networks {
        & > div {
            background: $gray-bg;
            .container {
                .networks-top {
                    padding-bottom: 20px;
                    padding-top: 20px;
                    h3 {
                        font-size: $fs30;
                    }
                }
                .networks-body {
                    padding-bottom: 0;
                    & > div:first-child {
                        & > img:last-child {
                           display: none;
                        }
                    }
                    & > div:last-child {
                        img {
                            display: none;
                        }
                        & > svg:last-child {
                            display: none;
                        }
                    }
                    
                }
            }
        }
    }
    .subscribe {
        background: url(../img/background8-gray.svg) no-repeat center top,
                    url(../img/background6-orange.svg) no-repeat center 21px;
    } 
}

@media all and (max-width: 640px) {
    .bg {
        .header {
            padding-top: 90px;
            .container {
                .header-descr {
                    h1 {                        
                        font-size: $fs-main;
                        line-height: 29px;
                    }
                    p {
                        font-size: $fs-card;
                        line-height: 22px;
                        width: 100%;
                        padding-bottom: 20px;
                    }
                    p:nth-child(3) {
                        width: 185px;
                    }
                    button {
                        margin-top: 80px;
                        margin-bottom: 30px;
                    }
                    
                }
                .header-pict {
                    img:first-child {
                        top: 160px;
                    }
                    img:nth-child(2) {
                        top: 181px;
                    }
                }
            }
        }
        .catalogs {
            margin-bottom: 30px;
            #humb_button_2 {
                @include btn-not-active (100%);
                height: 50px;
                font-size: $fs20;
                padding-top: 10px;
                text-align: center;
                margin-bottom: 40px;
                margin-top: 20px;
                &:hover {
                    @include btn-active (100%);
                    height: 50px;
                    font-size: $fs20;
                    padding-top: 10px;
                }
            }
            #catalogs {
                display: none;
            }
            .cards {
                .card-type-products {
                    width: 100%;
                    height: 380px;
                    padding-top: 15px;
                    h6 {
                        font-size: $fs-card;
                        line-height: 22px;
                        padding-top: 0;
                    }
                    button {
                        @include btn-card (250px);
                        margin-top: 20px;
                    }
                }
                .card-type-products:hover {
                    h6 {
                        font-size: $fs20;
                        padding-top: 225px;
                    }
                    img {
                        position: absolute;
                        left: 11px;
                    }
                }
            }
        }
        .discount-items {
            .container {
                h3 {
                    font-size: $fs-main;
                    line-height: 29px;
                    margin-bottom: 20px;
                }
                & > p {
                    font-size: $fs-card;
                    line-height: 22px;
                    margin-bottom: 30px;
                }
                & > button {
                    margin-bottom: 30px;
                    text-align: center;
                    margin-top: 0;
                    margin-right: 0;
                }
                .cards-main {
                    padding-left: 0;
                    padding-right: 0;
                    .slick-prev,
                    .slick-next {
                        display: none !important;
                    }
                    .card {
                        height: auto;
                        padding-left: 20px;
                        padding-right: 20px;
                        h6 {
                            font-size: $fs20;
                            line-height: 24px;
                            margin-top: 10px;
                        }
                        p {
                            font-size: $fs-card;
                            line-height: 22px;
                        }
                        .price {
                            span:first-child {
                                font-size: $fs-card;
                                line-height: 22px;
                            }
                            span:last-child {
                                font-size: $fs20;
                                line-height: 24px;
                            }
                        } 
                        .card-body {
                            a {
                                margin-right: 0;
                                img {
                                    width: 130px;
                                }
                            }
                            div {
                                .stars {
                                    margin-top: 0;
                                    .star {
                                        margin-right: 0;
                                    }
                                }
                                .grains {
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                }
                                .specification {
                                    margin-bottom: 9px;
                                }
                            }
                        }
                        button {
                            margin-left: 50px;
                            @include btn-card (150px);
                            margin-top: 0;
                            margin-bottom: 20px;
                        }
                    }
                }
                
            }
        }
    }
    .present {
        .present-top {
            background: $light-pink;
            .container {
                padding-top: 30px;
                padding-bottom: 20px;
                h3 {
                   font-size: $fs-main;
                   line-height: 29px;
                }
            }
        }
        .present-body {
            .container {
                .present-body-descr {
                    h5 {
                        font-size: $fs20;
                        line-height: 24px;
                    }
                    p {
                        font-size: $fs-card;
                        line-height: 22px;
                    }
                    & > div {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        div {
                            margin-left: 0;
                        }
                        svg {
                            display: none;
                        }
                        p {
                            padding-top: 10px;
                        }
                    }
                    
                }
            }
        }
    }
    .inform {
        div {
            div {
                .container {
                    h3 {
                        font-size: $fs-main;
                        line-height: 29px;
                        padding-top: 95px;
                        padding-bottom: 20px;
                    }
                    p {
                        font-size: $fs16;
                        line-height: 18px;
                    }  
                    p:nth-child(3) {
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                    & > button {
                        margin-top: 20px;
                        margin-bottom: 50px;
                        
                    }
                }
            }   
        }
               
    }
    .news {
        & > div {
            background: none;
            & > div {
                background: none;
                .container {
                    .news-top {
                        #humb_button {
                            @include btn-not-active (100%);
                            padding-bottom: 0;
                            padding-top: 10px;
                            text-align: center;
                            height: 50px;
                            font-size: $fs20;
                            margin-bottom: 30px;
                            &:hover {
                                @include btn-active (100%);
                                height: 50px;
                                font-size: $fs20;
                                padding-top: 10px;

                            }
                        }
                        button {
                            display: none;
                        }
                    }
                    #humb_news {
                        display: none;
                    }
                    .news-first-str,
                    .news-second-str {
                        h6 {
                            font-size: $fs20;
                            line-height: 24px;
                            
                        }
                        div:first-child,
                        div:last-child {
                            padding-top: 20px;
                            padding-bottom: 10px;
                            padding-left: 20px;
                            padding-right: 20px;
                            p {
                                font-size: $fs16;
                                line-height: 18px;
                                padding-bottom: 10px;
                                padding-right: 0px;
                            }
                            h6 {
                                padding-top: 0px;
                                padding-bottom: 10px;
                            }
                        }
                    }
                    .news-second-str {
                        padding-bottom: 50px;
                    }
                }
            }
        }
    }
    .networks {
        & > div {
            .container {
                .networks-top {
                    padding-bottom: 20px;
                    padding-top: 20px;
                    h3 {
                        font-size: $fs-main;
                        line-height: 29px;
                        padding-top: 26px;
                        padding-right: 40px;
                    }
                }
            }
        }
    }
}
