@import "variables.scss";
@import "mixins.scss";

@media all and (max-width: 1660px) {
    .container {
        width: 1210px;
    }
    .header-top {
        .container {
            ul:nth-child(3) {
                 & > li:nth-child(1) {
                    input:focus {
                        width: 760px;
                    } 
                }
            }
        }
    }
    .basket {
        .container {
            .basket-middle {
                padding: 100px 100px 56px 100px;
                & > div:nth-child(2) {
                    span:first-child {
                        padding-right: 60px;
                    }
                    span:nth-child(2) {
                        padding-right: 60px;
                    }
                    span:nth-child(3) {
                        padding-right: 55px;
                    }
                    span:nth-child(4) {
                        padding-right: 55px;
                    }
                    span:nth-child(5) {
                        padding-right: 30px;
                    }
                }
                .basket-line {
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }
        }
    }
    .basket-delivery {
        .container {
            padding: 70px 100px;
            form {
                input:not(:last-child) {
                    width: 490px;
                }
            }
        }
    }
    .basket-bottom {
        .container {
            padding-bottom: 70px;
            .basket-promo {
                padding-left: 100px;
                padding-right: 100px;
                p {
                    width: 450px;
                }
            }
        }
    }
    .subscribe {
        .container {
            p {
                width: 650px;
            }
            .subscribe-form {
                padding-top: 60px;
                padding-bottom: 20px;
                position: relative;
                input {
                    width: 680px;
                }
                button {
                    right: 530px;
                }
            }
            span {
                width: 500px;
                display: inline-block;
            }
            .subscribe-pict {
                img {
                    top: -520px;
                }
            }
        }
    } 
    .footer {
        .container {
            margin-top: 120px;
            margin-bottom: 60px;
        }
    }
}

@media all and (max-width: 1250px) {
    .container {
        width: 900px;
    }
    .header-top {
        .container {
            div {
                display: none;
            }
            ul {
                & > li:nth-child(2) {
                    padding-left: 53px;
                    padding-right: 53px;
                } 
            }
            ul:nth-child(3) {
                & > li:nth-child(1) {
                    input:focus {
                        width: 735px;
                    } 
                }
            }
        }
    }
    .basket {
        .container {
            .basket-middle {
                padding: 70px 50px 56px 50px;
                & > div:nth-child(2) {
                    display: flex;
                    span:first-child {
                        padding-right: 70px;
                    }
                    span:nth-child(2) {
                        padding-right: 115px;
                    }
                    span:nth-child(3) {
                        padding-right: 45px;
                    }
                    span:nth-child(4) {
                        padding-right: 30px;
                    }
                    span:nth-child(5) {
                        padding-right: 30px;
                    }
                    span:nth-child(6) {
                        padding-right: 20px;
                    }
                }
                .basket-line {
                    padding-left: 20px;
                    padding-right: 20px;
                    .counter {
                        width: 110px;
                    }
                    & > div {
                        img {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    .basket-delivery {
        .container {
            padding: 70px 50px;
            form {
                input:not(:last-child) {
                    width: 390px;
                    padding-left: 20px;
                }
            }
        }
    }
    .basket-bottom {
        .container {
            padding-bottom: 70px;
            .basket-promo {
                padding-left: 50px;
                padding-right: 50px;
                p {
                    width: 100%;
                }
                & > input {
                    height: 60px;
                }
                button {
                    height: 60px;
                }
            }
            .basket-sum {
                padding-left: 50px;
                padding-right: 50px;
                & > div:last-child {
                    right: 55px;
                }
                div {
                    label {
                        padding-left: 8px;
                    }
                }
                button {
                    @include btn-product (100%);
                }
            }
        }
    }
    .subscribe {
        .container {
            h3 {
                font-size: $fs-h4;
                padding-top: 120px;
            }
            .subscribe-form {
                button {
                    right: 170px;
                }
            }
            .subscribe-pict {
                img {
                    display: none;
                }
            }
        }
    } 
    .footer {
        .container {
            margin-top: 90px;
            margin-bottom: 50px;
            ul {
                padding-top: 41px;
                & > li:nth-child(2) {
                    padding-left: 60px;
                    padding-right: 60px;
                }
            }
        }
    }
}

@media all and (max-width: 940px) {
    .container {
        width: 600px;
    }
    .header-top {
        .container {
            height: 110px;
            ul {
                font-size: $fs20;
                line-height: 25px;
                & > li:nth-child(2) {
                    padding-left: 30px;
                    padding-right: 30px;
                } 
            }
            ul:nth-child(3) {
                & > li:nth-child(1) {
                    input:focus {
                        width: 482px;
                    } 
                }
                & > li:nth-child(2) {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
    }
    .basket {
        padding-top: 110px;
        .container {
            .basket-middle {
                padding: 70px 50px 56px 50px;
                h4 {
                    font-size: $fs30;
                }
                & > div:nth-child(2) {
                    display: none;
                }
                .basket-line {
                    display: inline-block;
                    height: auto;
                    width: 100%;
                    padding: 30px 30px 0px 30px;
                    position: relative;
                    svg {
                        position: absolute;
                        right: 30px;
                    }
                    div {
                        img {
                            margin-right: 30px;
                        }
                    }
                    & > img {
                        width: 21px;
                        cursor: pointer;
                    }
                    .counter {
                        width: 130px;
                        margin-top: 20px;
                    }
                    & > span:nth-child(3),
                    & > span:nth-child(5) {
                        display: none;
                    }
                    & > span:nth-child(6) {
                        position: relative;
                        top: -41px;
                        left: 214px;
                    }
                }
            }

        }
    }
    .basket-delivery {
        .container {
            form {
                input:not(:last-child) {
                    width: 100%;
                }
            }
        }
    }
    .basket-bottom {
        .container {
            display: block;
            .basket-promo {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
    }
    .subscribe {
        background: url(../img/background8-gray.svg) no-repeat center top,
                    url(../img/background6-orange.svg) no-repeat center 21px;
        .container {
            h3 {
                font-size: $fs30;
                padding-top: 120px;
                padding-bottom: 30px;
            }
            p {
                font-size: $fs20;
            }
            span {
                font-size: $fs12;
            }
            .subscribe-form {
                button {
                    right: 0;
                    height: 60px;
                    font-size: $fs20;
                }
                input {
                    width: 100%;
                    height: 60px;
                    font-size: $fs20;
                }
            }
            .subscribe-pict {
                img {
                    display: none;
                }
            }
        }
    } 
    .footer {
        .container {
            margin-top: 40px;
            margin-bottom: 30px;
            img {
                width: 150px;
            }
            ul {
                padding-top: 17px;
                li {
                    font-size: $fs20;
                }
                & > li:nth-child(2) {
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }
        }
    }
    
}

@media all and (max-width: 640px) {
    .container {
        width: 320px;
    }
    .header-top {
        .container {
            height: 90px;
            ul:nth-child(2) {
                display: none;
            }
            ul:nth-child(3) {
                & > li:nth-child(1) {
                    input:focus {
                        width: 482px;
                    } 
                }
                & > li:nth-child(2) {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
    }
    .basket {
        padding-top: 90px;
        .container {
            .basket-top {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .basket-middle {
                padding: 30px 20px 10px 20px;
                & > div:first-child {
                    h4 {
                        font-size: $fs-main;
                        line-height: 30px;
                        padding-bottom: 20px;
                    }
                    button {
                        font-size: $fs-card;
                    }
                }
                .basket-line {
                    margin-bottom: 20px;
                    svg {
                        right: 20px;
                    }
                    div {
                        div {
                            h6 {
                                font-size: $fs20;  
                                line-height: 24px;
                            }
                            p {
                                font-size: $fs16;
                                line-height: 18px;
                            }
                        }
                        img {
                            margin-right: 30px;
                        }
                    }
                    .counter {
                        width: 110px;
                        height: 40px;
                    }
                    & > span:nth-child(6) {
                        position: relative;
                        left: 160px;
                        font-size: $fs20;
                        top: -37px;
                    }
                }
            }

        }
    }
    .basket-delivery {
        background: url(../img/background9-pink.svg) no-repeat center -2px;
        .container {
            padding: 30px 20px;
            h5 {
                font-size: $fs-main;
                line-height: 29px;
                padding-bottom: 20px;
            }
            form {
                input:not(:last-child) {
                    height: 50px;
                    margin-bottom: 10px;
                    padding-left: 10px;
                }
                input:last-child {
                    height: 50px;
                    font-size: $fs-card;
                }
                input::placeholder {
                    font-size: $fs16;
                    line-height: 18px;
                }
            }
        }
    }
    .basket-bottom {
        .container {
            padding-bottom: 0;
            .basket-promo {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
                h5 {
                    font-size: $fs-main;
                    line-height: 29px;
                    padding-bottom: 10px;
                }
                p {
                    font-size: 16px;
                    line-height: 18px;
                }
                & > input {
                    height: 50px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    padding-left: 50px;
                    &::placeholder {
                        font-size: $fs-card;
                    }
                }
                button {
                    height: 50px;
                    font-size: $fs20;
                    margin-bottom: 30px;
                }
            }
            .basket-sum {
                padding-top: 30px;
                padding-left: 20px;
                padding-right: 20px;
                h5 {
                    font-size: $fs-main;
                    line-height: 29px;
                }
                span {
                    font-size: 16px;
                    line-height: 18px;
                    padding-bottom: 5px;
                }
                div {
                    margin-bottom: 10px;
                    label {
                        padding-bottom: 5px;
                    }
                }
                button {
                    height: 50px;
                    font-size: $fs20;
                }
                p {
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }
    }
    .subscribe {
        .container {
            h3 {
                font-size: $fs-main;
                line-height: 29px;
                padding-bottom: 20px;
            }
            p {
                font-size: $fs16;
                width: 100%;
            }
            span {
                width: 100%;
            }
            .subscribe-form {
                padding-top: 20px;
                padding-bottom: 90px;
                button {
                    top: 90px;
                    width: 100%;
                    height: 50px;
                }
                input {
                    padding-left: 20px;
                    height: 50px;
                }
            }
            .subscribe-pict {
                img {
                    display: none;
                }
            }
        }
    } 
    .footer {
        .container {
            margin-top: 30px;
            img {
                display: none;
            }
            ul {
                li {
                    font-size: $fs-card;
                }
                & > li:nth-child(2) {
                    padding-left: 23px;
                    padding-right: 23px;
                }
            }
        }
    }
}