@media all and (max-width: 1660px) {
  .container {
    width: 1210px; }

  .header-top .container ul:nth-child(3) > li:nth-child(1) input:focus {
    width: 760px; }

  .subscribe .container p {
    width: 650px; }
  .subscribe .container .subscribe-form {
    padding-top: 60px;
    padding-bottom: 20px;
    position: relative; }
    .subscribe .container .subscribe-form input {
      width: 680px; }
    .subscribe .container .subscribe-form button {
      right: 530px; }
  .subscribe .container span {
    width: 500px;
    display: inline-block; }
  .subscribe .container .subscribe-pict img {
    top: -520px; }

  .footer .container {
    margin-top: 120px;
    margin-bottom: 60px; }

  .sorting-coffee-bottom div {
    width: 140px;
    height: 150px; }
    .sorting-coffee-bottom div span {
      padding-top: 15px;
      padding-bottom: 11px; }

  .custom-checkbox + label::before {
    margin-right: 10px; }

  .card {
    width: 390px;
    padding: 21px 30px 0; } }
@media all and (max-width: 1250px) {
  .container {
    width: 900px; }

  .header-top .container div {
    display: none; }
  .header-top .container ul > li:nth-child(2) {
    padding-left: 53px;
    padding-right: 53px; }
  .header-top .container ul:nth-child(3) > li:nth-child(1) input:focus {
    width: 735px; }

  .subscribe .container h3 {
    font-size: 40px;
    padding-top: 120px; }
  .subscribe .container .subscribe-form button {
    right: 170px; }
  .subscribe .container .subscribe-pict img {
    display: none; }

  .footer .container {
    margin-top: 90px;
    margin-bottom: 50px; }
    .footer .container ul {
      padding-top: 41px; }
      .footer .container ul > li:nth-child(2) {
        padding-left: 60px;
        padding-right: 60px; }

  .sorting-coffee-bottom {
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-around; }
    .sorting-coffee-bottom div {
      width: 190px;
      height: 190px;
      margin-bottom: 20px; }
      .sorting-coffee-bottom div span {
        padding-top: 25px;
        padding-bottom: 25px; } }
@media all and (max-width: 940px) {
  .container {
    width: 600px; }

  .header-top .container {
    height: 110px; }
    .header-top .container ul {
      font-size: 20px;
      line-height: 25px; }
      .header-top .container ul > li:nth-child(2) {
        padding-left: 30px;
        padding-right: 30px; }
    .header-top .container ul:nth-child(3) > li:nth-child(1) input:focus {
      width: 482px; }
    .header-top .container ul:nth-child(3) > li:nth-child(2) {
      padding-left: 30px;
      padding-right: 30px; }

  .subscribe .container h3 {
    font-size: 30px;
    padding-top: 120px;
    padding-bottom: 30px; }
  .subscribe .container p {
    font-size: 20px; }
  .subscribe .container span {
    font-size: 12px; }
  .subscribe .container .subscribe-form button {
    right: 0;
    height: 60px;
    font-size: 20px; }
  .subscribe .container .subscribe-form input {
    width: 100%;
    height: 60px;
    font-size: 20px; }
  .subscribe .container .subscribe-pict img {
    display: none; }

  .footer .container {
    margin-top: 40px;
    margin-bottom: 30px; }
    .footer .container img {
      width: 150px; }
    .footer .container ul {
      padding-top: 17px; }
      .footer .container ul li {
        font-size: 20px; }
      .footer .container ul > li:nth-child(2) {
        padding-left: 40px;
        padding-right: 40px; } }
@media all and (max-width: 640px) {
  .container {
    width: 320px; }

  .header-top .container {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative; }
    .header-top .container ul:nth-child(2) {
      display: none;
      position: absolute;
      top: 60px;
      background: #FFFFFF;
      box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
      border-radius: 10px;
      padding: 15px 15px 0 15px; }
      .header-top .container ul:nth-child(2) li {
        padding-bottom: 15px; }
      .header-top .container ul:nth-child(2) li:nth-child(2) {
        padding-left: 0;
        padding-right: 0;
        display: block; }
    .header-top .container ul:nth-child(3) > li:nth-child(1) input:focus {
      width: 320px;
      right: -141px;
      border-radius: 20px; }
    .header-top .container ul:nth-child(3) > li:nth-child(2) {
      padding-left: 30px;
      padding-right: 30px; }
    .header-top .container #menu {
      display: inline-block;
      order: -1; }
      .header-top .container #menu img {
        height: 40px; }

  .items .container .sorting {
    padding-top: 132px;
    padding-bottom: 28px; }
  .items .container .cards-main #card-wrap .card {
    margin-bottom: 50px; }

  .subscribe .container h3 {
    font-size: 25px;
    line-height: 29px;
    padding-bottom: 20px; }
  .subscribe .container p {
    font-size: 16px;
    width: 100%; }
  .subscribe .container span {
    width: 100%; }
  .subscribe .container .subscribe-form {
    padding-top: 20px;
    padding-bottom: 90px; }
    .subscribe .container .subscribe-form button {
      top: 90px;
      width: 100%;
      height: 50px; }
    .subscribe .container .subscribe-form input {
      padding-left: 20px;
      height: 50px; }
  .subscribe .container .subscribe-pict img {
    display: none; }

  .footer .container {
    margin-top: 30px; }
    .footer .container img {
      display: none; }
    .footer .container ul li {
      font-size: 18px; }
    .footer .container ul > li:nth-child(2) {
      padding-left: 23px;
      padding-right: 23px; }

  .custom-checkbox + label::before {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    vertical-align: -3px; }

  .card {
    height: auto;
    padding-left: 20px;
    padding-right: 20px; }
    .card h6 {
      font-size: 20px;
      line-height: 24px;
      margin-top: 10px; }
    .card p {
      font-size: 18px;
      line-height: 22px; }
    .card .price span:first-child {
      font-size: 18px;
      line-height: 22px; }
    .card .price span:last-child {
      font-size: 20px;
      line-height: 24px; }
    .card .card-body a {
      margin-right: 0; }
      .card .card-body a img {
        width: 130px; }
    .card .card-body div .stars {
      margin-top: 0; }
      .card .card-body div .stars .star {
        margin-right: 0; }
    .card .card-body div .grains {
      margin-top: 10px;
      margin-bottom: 10px; }
    .card .card-body div .specification {
      margin-bottom: 9px; }
    .card button {
      margin-left: 50px;
      width: 150px;
      height: 48px;
      font-size: 18px;
      line-height: 22px;
      background-color: #F9B300;
      font-weight: 700;
      color: #FFFFFF;
      border-radius: 5px;
      font-family: "Gilroy", sans-serif;
      border: none;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 20px; }

  .sorting-coffee-bottom div {
    width: 140px;
    height: 150px; }
    .sorting-coffee-bottom div span {
      padding-top: 15px;
      padding-bottom: 11px; } }
@media all and (max-width: 1660px) {
  .bg {
    width: 100%; }
    .bg .header .container .header-descr {
      padding-top: 60px; }
    .bg .header .container .header-pict img:first-child {
      right: -140px;
      top: 120px; }
    .bg .header .container .header-pict img:nth-child(2) {
      right: -92px;
      top: 194px; }
    .bg .catalogs .cards .card-type-products {
      width: auto; }
      .bg .catalogs .cards .card-type-products:not(:last-child) {
        margin-right: 10px; }
      .bg .catalogs .cards .card-type-products button {
        width: 250px;
        height: 60px;
        font-size: 25px;
        line-height: 30px;
        background-color: #F9B300;
        font-weight: 700;
        color: #FFFFFF;
        border-radius: 5px;
        font-family: "Gilroy", sans-serif;
        border: none;
        cursor: pointer; }
      .bg .catalogs .cards .card-type-products h6 {
        padding-left: 20px;
        padding-right: 20px; }
    .bg .catalogs .cards .card-type-products:hover h6 {
      font-weight: 700;
      font-size: 25px;
      line-height: 31px; }
    .bg .catalogs .cards .card-type-products:hover img {
      left: 0px; }
    .bg .catalogs .cards div.card-type-products:nth-child(4):hover > h6 {
      padding-left: 70px;
      padding-right: 70px; }
    .bg .discount-items .container > p {
      width: 800px; }
    .bg .discount-items .container .cards-main {
      padding-left: 45px;
      padding-right: 45px; }
      .bg .discount-items .container .cards-main .slick-prev {
        left: 0px;
        width: 40px;
        height: 40px;
        background-size: contain; }
      .bg .discount-items .container .cards-main .slick-next {
        width: 40px;
        height: 40px;
        background-size: contain; }
    .bg .discount-items .container .card {
      padding-left: 20px;
      padding-right: 20px; }
      .bg .discount-items .container .card .card-body a {
        margin-right: 0px; }
      .bg .discount-items .container .card button {
        margin-left: 40px; }

  .present .present-top .container h3 {
    margin-right: 75px; }
  .present .present-body .container .present-body-pict img:first-child {
    top: -55px;
    width: 566px; }
  .present .present-body .container .present-body-pict img:last-child {
    bottom: 214px;
    width: 393px; }
  .present .present-body .container .present-body-descr {
    margin-left: 550px; }

  .inform p {
    width: 1050px; }

  .news div div .container .news-first-str > div,
  .news div div .container .news-second-str > div {
    padding-bottom: 30px; }
  .news div div .container .news-first-str > div:first-child,
  .news div div .container .news-second-str > div:first-child {
    height: auto;
    padding-left: 40px;
    padding-right: 40px; }
    .news div div .container .news-first-str > div:first-child img,
    .news div div .container .news-second-str > div:first-child img {
      display: none; }
  .news div div .container .news-first-str > div:last-child,
  .news div div .container .news-second-str > div:last-child {
    padding-left: 40px;
    padding-right: 40px;
    height: auto; }

  .networks .container .networks-body > div:last-child img:nth-child(3),
  .networks .container .networks-body > div:last-child img:nth-child(4) {
    display: none; } }
@media all and (max-width: 1250px) {
  .bg {
    background: none; }
    .bg .header-top {
      background: #FFFFFF;
      box-shadow: 0px 5px 20px rgba(157, 157, 157, 0.25);
      position: fixed;
      z-index: 10;
      width: 100%; }
      .bg .header-top .container ul:nth-child(3) > li svg:hover {
        stroke: #F9B300; }
      .bg .header-top .container ul:nth-child(3) > li input:hover:not(:focus) {
        background: url(../img/search-orange.svg) no-repeat top left; }
    .bg .header {
      padding-top: 160px; }
      .bg .header .container .header-descr h1 {
        font-size: 50px; }
      .bg .header .container .header-descr button {
        width: 320px;
        height: 60px;
        font-size: 25px;
        line-height: 30px;
        background-color: #F9B300;
        font-weight: 700;
        color: #FFFFFF;
        border-radius: 5px;
        font-family: "Gilroy", sans-serif;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 360px; }
      .bg .header .container .header-pict img:first-child {
        width: 80%;
        right: -48px;
        top: 268px; }
      .bg .header .container .header-pict img:nth-child(2) {
        width: 66%;
        right: -12px;
        top: 320px; }
    .bg .catalogs h3 {
      font-size: 40px; }
    .bg .catalogs .cards {
      flex-wrap: wrap;
      justify-content: space-around; }
      .bg .catalogs .cards .card-type-products {
        width: 400px;
        margin-bottom: 20px; }
        .bg .catalogs .cards .card-type-products:not(:last-child) {
          margin-right: 0; }
        .bg .catalogs .cards .card-type-products:hover img {
          left: 52px; }
    .bg .discount-items .container {
      text-align: right; }
      .bg .discount-items .container h3 {
        font-size: 40px; }
      .bg .discount-items .container > p {
        width: auto; }

  .present .present-top {
    background: url(../img/background3-pink.svg) no-repeat 0 -60px; }
    .present .present-top .container {
      text-align: left; }
      .present .present-top .container h3 {
        font-size: 40px;
        margin-right: 0;
        width: auto; }
  .present .present-body .container .present-body-pict img {
    display: none; }
  .present .present-body .container .present-body-descr {
    margin-left: 0;
    width: auto; }

  .inform div div .container h3 {
    font-size: 40px;
    padding-top: 95px; }
  .inform div div .container p {
    width: auto; }
  .inform div div .container > button {
    width: 320px;
    height: 60px;
    font-size: 25px;
    line-height: 30px;
    background-color: #F9B300;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: "Gilroy", sans-serif;
    border: none;
    cursor: pointer;
    margin-top: 80px;
    margin-bottom: 193px; }

  .news > div {
    background-size: cover; }
    .news > div > div .container .news-top h3 {
      font-size: 40px;
      padding-top: 0; }
    .news > div > div .container .news-top button {
      margin-top: 10px; }
    .news > div > div .container .news-first-str,
    .news > div > div .container .news-second-str {
      display: flex;
      flex-wrap: wrap; }
      .news > div > div .container .news-first-str > div,
      .news > div > div .container .news-second-str > div {
        width: 100%; }
      .news > div > div .container .news-first-str > div:first-child,
      .news > div > div .container .news-second-str > div:first-child {
        margin-right: 0; }
      .news > div > div .container .news-first-str > div:last-child p,
      .news > div > div .container .news-second-str > div:last-child p {
        width: auto; }
    .news > div > div .container .news-first-str > div:first-child {
      margin-bottom: 20px; }
    .news > div > div .container .news-second-str > div:first-child {
      margin-left: 0;
      margin-top: 20px; }

  .networks > div .container .networks-top {
    padding-top: 20px;
    padding-bottom: 50px; }
  .networks > div .container .networks-body {
    padding-bottom: 60px; }
    .networks > div .container .networks-body > div:first-child > img:first-child {
      display: none; }
    .networks > div .container .networks-body > div:first-child > img:last-child {
      top: -25px;
      left: -340px; }
    .networks > div .container .networks-body > div:last-child {
      margin-left: 380px; }
      .networks > div .container .networks-body > div:last-child img {
        width: 70%; }
      .networks > div .container .networks-body > div:last-child > svg:last-child {
        top: 330px; } }
@media all and (max-width: 940px) {
  .bg .header {
    padding-top: 110px; }
    .bg .header .container .header-descr h1 {
      font-size: 35px;
      padding-bottom: 20px; }
    .bg .header .container .header-descr p {
      font-size: 20px;
      line-height: 24px; }
    .bg .header .container .header-descr button {
      width: 250px;
      height: 48px;
      font-size: 18px;
      line-height: 22px;
      background-color: #F9B300;
      font-weight: 700;
      color: #FFFFFF;
      border-radius: 5px;
      font-family: "Gilroy", sans-serif;
      border: none;
      cursor: pointer;
      margin-bottom: 170px; }
    .bg .header .container .header-pict img:first-child {
      width: 68%;
      right: -48px;
      top: 228px; }
    .bg .header .container .header-pict img:nth-child(2) {
      width: 55%;
      right: -26px;
      top: 261px; }
  .bg .catalogs h3 {
    font-size: 30px;
    margin-bottom: 30px; }
  .bg .discount-items .container {
    text-align: left; }
    .bg .discount-items .container h3 {
      font-size: 30px; }
    .bg .discount-items .container > p {
      font-size: 20px;
      line-height: 24px; }
    .bg .discount-items .container button {
      margin-bottom: 30px; }
    .bg .discount-items .container .cards-main {
      padding-left: 70px;
      padding-right: 70px; }
      .bg .discount-items .container .cards-main .slick-prev {
        width: 50px;
        height: 50px; }
      .bg .discount-items .container .cards-main .slick-next {
        width: 50px;
        height: 50px; }
    .bg .discount-items .container .card {
      padding-left: 30px;
      padding-right: 30px; }
      .bg .discount-items .container .card .card-body a {
        margin-right: 15px; }
      .bg .discount-items .container .card button {
        margin-left: 100px; }

  .present .present-top {
    background: #FFF7E1; }
    .present .present-top .container {
      padding-top: 30px;
      padding-bottom: 20px; }
      .present .present-top .container h3 {
        font-size: 30px; }
  .present .present-body .container .present-body-descr h5 {
    font-size: 25px; }
  .present .present-body .container .present-body-descr p {
    font-size: 20px;
    line-height: 25px; }
  .present .present-body .container .present-body-descr div:last-child {
    padding-bottom: 0; }

  .inform div div .container h3 {
    font-size: 30px;
    padding-top: 115px;
    padding-bottom: 30px; }
  .inform div div .container p {
    font-size: 20px;
    line-height: 24px; }
  .inform div div .container > button {
    width: 250px;
    height: 48px;
    font-size: 18px;
    line-height: 22px;
    background-color: #F9B300;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: "Gilroy", sans-serif;
    border: none;
    cursor: pointer;
    margin-top: 40px; }

  .news > div > div .container .news-top h3 {
    font-size: 30px;
    padding-top: 0; }
  .news > div > div .container .news-top button {
    margin-top: 5px;
    font-size: 20px; }
  .news > div > div .container .news-first-str h6,
  .news > div > div .container .news-second-str h6 {
    font-size: 30px; }
  .news > div > div .container .news-second-str {
    padding-bottom: 50px; }

  .networks > div {
    background: #FFF7E1; }
    .networks > div .container .networks-top {
      padding-bottom: 20px;
      padding-top: 20px; }
      .networks > div .container .networks-top h3 {
        font-size: 30px; }
    .networks > div .container .networks-body {
      padding-bottom: 0; }
      .networks > div .container .networks-body > div:first-child > img:last-child {
        display: none; }
      .networks > div .container .networks-body > div:last-child img {
        display: none; }
      .networks > div .container .networks-body > div:last-child > svg:last-child {
        display: none; }

  .subscribe {
    background: url(../img/background4-pink.svg) no-repeat center top, url(../img/background6-orange.svg) no-repeat center 21px; } }
@media all and (max-width: 640px) {
  .bg .header {
    padding-top: 90px; }
    .bg .header .container .header-descr h1 {
      font-size: 25px;
      line-height: 29px; }
    .bg .header .container .header-descr p {
      font-size: 18px;
      line-height: 22px;
      width: 100%;
      padding-bottom: 20px; }
    .bg .header .container .header-descr p:nth-child(3) {
      width: 185px; }
    .bg .header .container .header-descr button {
      margin-top: 80px;
      margin-bottom: 30px; }
    .bg .header .container .header-pict img:first-child {
      top: 160px; }
    .bg .header .container .header-pict img:nth-child(2) {
      top: 181px; }
  .bg .catalogs {
    margin-bottom: 30px; }
    .bg .catalogs #humb_button_2 {
      width: 100%;
      background-color: #F6F6F6;
      border: 1px solid #C9C9C9;
      height: 60px;
      font-family: "Gilroy", sans-serif;
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
      color: #F9B300;
      border-radius: 5px;
      cursor: pointer;
      height: 50px;
      font-size: 20px;
      padding-top: 10px;
      text-align: center;
      margin-bottom: 40px;
      margin-top: 20px; }
      .bg .catalogs #humb_button_2:hover {
        width: 100%;
        background-color: #FFF7E1;
        border: 1px solid #F9B300;
        height: 60px;
        font-family: "Gilroy", sans-serif;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: #F9B300;
        border-radius: 5px;
        cursor: pointer;
        height: 50px;
        font-size: 20px;
        padding-top: 10px; }
    .bg .catalogs #catalogs {
      display: none; }
    .bg .catalogs .cards .card-type-products {
      width: 100%;
      height: 380px;
      padding-top: 15px; }
      .bg .catalogs .cards .card-type-products h6 {
        font-size: 18px;
        line-height: 22px;
        padding-top: 0; }
      .bg .catalogs .cards .card-type-products button {
        width: 250px;
        height: 48px;
        font-size: 18px;
        line-height: 22px;
        background-color: #F9B300;
        font-weight: 700;
        color: #FFFFFF;
        border-radius: 5px;
        font-family: "Gilroy", sans-serif;
        border: none;
        cursor: pointer;
        margin-top: 20px; }
    .bg .catalogs .cards .card-type-products:hover h6 {
      font-size: 20px;
      padding-top: 225px; }
    .bg .catalogs .cards .card-type-products:hover img {
      position: absolute;
      left: 11px; }
  .bg .discount-items .container h3 {
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 20px; }
  .bg .discount-items .container > p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px; }
  .bg .discount-items .container > button {
    margin-bottom: 30px;
    text-align: center;
    margin-top: 0;
    margin-right: 0; }
  .bg .discount-items .container .cards-main {
    padding-left: 0;
    padding-right: 0; }
    .bg .discount-items .container .cards-main .slick-prev,
    .bg .discount-items .container .cards-main .slick-next {
      display: none !important; }
    .bg .discount-items .container .cards-main .card {
      padding-left: 20px;
      padding-right: 20px;
      height: auto; }
      .bg .discount-items .container .cards-main .card .card-body a {
        margin-right: 0; }
      .bg .discount-items .container .cards-main .card button {
        margin-left: 50px; }

  .present .present-top {
    background: #FFF7E1; }
    .present .present-top .container {
      padding-top: 30px;
      padding-bottom: 20px; }
      .present .present-top .container h3 {
        font-size: 25px;
        line-height: 29px; }
  .present .present-body .container .present-body-descr h5 {
    font-size: 20px;
    line-height: 24px; }
  .present .present-body .container .present-body-descr p {
    font-size: 18px;
    line-height: 22px; }
  .present .present-body .container .present-body-descr > div {
    padding-top: 10px;
    padding-bottom: 10px; }
    .present .present-body .container .present-body-descr > div div {
      margin-left: 0; }
    .present .present-body .container .present-body-descr > div svg {
      display: none; }
    .present .present-body .container .present-body-descr > div p {
      padding-top: 10px; }

  .inform div div .container h3 {
    font-size: 25px;
    line-height: 29px;
    padding-top: 95px;
    padding-bottom: 20px; }
  .inform div div .container p {
    font-size: 16px;
    line-height: 18px; }
  .inform div div .container p:nth-child(3) {
    padding-top: 20px;
    padding-bottom: 20px; }
  .inform div div .container > button {
    margin-top: 20px;
    margin-bottom: 50px; }

  .news > div {
    background: none; }
    .news > div > div {
      background: none; }
      .news > div > div .container .news-top #humb_button {
        width: 100%;
        background-color: #F6F6F6;
        border: 1px solid #C9C9C9;
        height: 60px;
        font-family: "Gilroy", sans-serif;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: #F9B300;
        border-radius: 5px;
        cursor: pointer;
        padding-bottom: 0;
        padding-top: 10px;
        text-align: center;
        height: 50px;
        font-size: 20px;
        margin-bottom: 30px; }
        .news > div > div .container .news-top #humb_button:hover {
          width: 100%;
          background-color: #FFF7E1;
          border: 1px solid #F9B300;
          height: 60px;
          font-family: "Gilroy", sans-serif;
          font-weight: 600;
          font-size: 25px;
          line-height: 30px;
          color: #F9B300;
          border-radius: 5px;
          cursor: pointer;
          height: 50px;
          font-size: 20px;
          padding-top: 10px; }
      .news > div > div .container .news-top button {
        display: none; }
      .news > div > div .container #humb_news {
        display: none; }
      .news > div > div .container .news-first-str h6,
      .news > div > div .container .news-second-str h6 {
        font-size: 20px;
        line-height: 24px; }
      .news > div > div .container .news-first-str div:first-child,
      .news > div > div .container .news-first-str div:last-child,
      .news > div > div .container .news-second-str div:first-child,
      .news > div > div .container .news-second-str div:last-child {
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px; }
        .news > div > div .container .news-first-str div:first-child p,
        .news > div > div .container .news-first-str div:last-child p,
        .news > div > div .container .news-second-str div:first-child p,
        .news > div > div .container .news-second-str div:last-child p {
          font-size: 16px;
          line-height: 18px;
          padding-bottom: 10px;
          padding-right: 0px; }
        .news > div > div .container .news-first-str div:first-child h6,
        .news > div > div .container .news-first-str div:last-child h6,
        .news > div > div .container .news-second-str div:first-child h6,
        .news > div > div .container .news-second-str div:last-child h6 {
          padding-top: 0px;
          padding-bottom: 10px; }
      .news > div > div .container .news-second-str {
        padding-bottom: 50px; }

  .networks > div .container .networks-top {
    padding-bottom: 20px;
    padding-top: 20px; }
    .networks > div .container .networks-top h3 {
      font-size: 25px;
      line-height: 29px;
      padding-top: 26px;
      padding-right: 40px; } }

/*# sourceMappingURL=media.css.map */
