@import "variables.scss";
@import "mixins.scss";

@media all and (max-width: 1660px) {
    .container {
        width: 1210px;
    }
    .header-top {
        .container {
            ul:nth-child(3) {
                & > li:nth-child(1) {
                    input:focus {
                        width: 760px;
                    } 
                }
            }
        }
    } 
    .subscribe {
        .container {
            p {
                width: 650px;
            }
            .subscribe-form {
                padding-top: 60px;
                padding-bottom: 20px;
                position: relative;
                input {
                    width: 680px;
                }
                button {
                    right: 530px;
                }
            }
            span {
                width: 500px;
                display: inline-block;
            }
            .subscribe-pict {
                img {
                    top: -520px;
                }
            }
        }
    } 
    .footer {
        .container {
            margin-top: 120px;
            margin-bottom: 60px;
        }
    }
    .sorting-coffee-bottom {
        div {
            width: 140px;
            height: 150px;
            span {
                padding-top: 15px;
                padding-bottom: 11px;
            }
        }
    }
    .custom-checkbox {
        &+label {
        }
        &+label::before {
            margin-right: 10px;
        }
        &:checked+label::before {
        }
    }
    .card {
        width: 390px;
        padding: 21px 30px 0;
    }

}

@media all and (max-width: 1250px) {
    .container {
        width: 900px;
    }
    .header-top {
        .container {
            div {
                display: none;
            }
            ul {
                & > li:nth-child(2) {
                    padding-left: 53px;
                    padding-right: 53px;
                } 
            }
            ul:nth-child(3) {
                & > li:nth-child(1) {
                    input:focus {
                        width: 735px;
                    } 
                }
            }
        }
    }
    .subscribe {
        .container {
            h3 {
                font-size: $fs-h4;
                padding-top: 120px;
            }
            .subscribe-form {
                button {
                    right: 170px;
                }
            }
            .subscribe-pict {
                img {
                    display: none;
                }
            }
        }
    } 
    .footer {
        .container {
            margin-top: 90px;
            margin-bottom: 50px;
            ul {
                padding-top: 41px;
                & > li:nth-child(2) {
                    padding-left: 60px;
                    padding-right: 60px;
                }
            }
        }
    }
    .sorting-coffee-bottom {
        margin-bottom: 50px;
        flex-wrap: wrap;
        justify-content: space-around;
        div {
            width: 190px;
            height: 190px;
            margin-bottom: 20px;
            span {
                padding-top: 25px;
                padding-bottom: 25px;
            }
        }
    }
}

@media all and (max-width: 940px) {
    .container {
        width: 600px;
    }
    .header-top {
        .container {
            height: 110px;
            ul {
                font-size: $fs20;
                line-height: 25px;
                & > li:nth-child(2) {
                    padding-left: 30px;
                    padding-right: 30px;
                } 
            }
            ul:nth-child(3) {
                & > li:nth-child(1) {
                    input:focus {
                        width: 482px;
                    } 
                }
                & > li:nth-child(2) {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
    }    
    .subscribe {
        .container {
            h3 {
                font-size: $fs30;
                padding-top: 120px;
                padding-bottom: 30px;
            }
            p {
                font-size: $fs20;
            }
            span {
                font-size: $fs12;
            }
            .subscribe-form {
                button {
                    right: 0;
                    height: 60px;
                    font-size: $fs20;
                }
                input {
                    width: 100%;
                    height: 60px;
                    font-size: $fs20;
                }
            }
            .subscribe-pict {
                img {
                    display: none;
                }
            }
        }
    } 
    .footer {
        .container {
            margin-top: 40px;
            margin-bottom: 30px;
            img {
                width: 150px;
            }
            ul {
                padding-top: 17px;
                li {
                    font-size: $fs20;
                }
                & > li:nth-child(2) {
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }
        }
    }
}

@media all and (max-width: 640px) {
    .container {
        width: 320px;
    }
    .header-top {
        .container {
            height: auto;
            padding-top: 15px;
            padding-bottom: 15px;
            position: relative;
            ul:nth-child(2) {
                li {
                    padding-bottom: 15px;
                }
                li:nth-child(2) {
                    padding-left: 0;
                    padding-right: 0;
                    display: block;
                }
                display: none;
                position: absolute;
                top: 60px;
                background: $white;
                box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
                border-radius: 10px;
                padding: 15px 15px 0 15px;
            }
            ul:nth-child(3) {
                & > li:nth-child(1) {
                    input:focus {
                        width: 320px;
                        right: -141px;
                        border-radius: 20px;
                    } 
                }
                & > li:nth-child(2) {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
            #menu {
                display: inline-block;
                order: -1;
                img {
                    height: 40px;
                }
            }
        }
    } 
    .items {
        .container {
            .sorting {
                padding-top: 132px;
                padding-bottom: 28px;
            }
            .cards-main {
                #card-wrap {
                    .card {
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
    .subscribe {
        .container {
            h3 {
                font-size: $fs-main;
                line-height: 29px;
                padding-bottom: 20px;
            }
            p {
                font-size: $fs16;
                width: 100%;
            }
            span {
                width: 100%;
            }
            .subscribe-form {
                padding-top: 20px;
                padding-bottom: 90px;
                button {
                    top: 90px;
                    width: 100%;
                    height: 50px;
                }
                input {
                    padding-left: 20px;
                    height: 50px;
                }
            }
            .subscribe-pict {
                img {
                    display: none;
                }
            }
        }
    } 
    .footer {
        .container {
            margin-top: 30px;
            img {
                display: none;
            }
            ul {
                li {
                    font-size: $fs-card;
                }
                & > li:nth-child(2) {
                    padding-left: 23px;
                    padding-right: 23px;
                }
            }
        }
    }
    .custom-checkbox {
        &+label {
        }
        &+label::before {
            margin-right: 10px;
            height: 20px;
            width: 20px;
            vertical-align: -3px;
        }
        &:checked+label::before {
           
        }
    }
    .card {
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
        h6 {
            font-size: $fs20;
            line-height: 24px;
            margin-top: 10px;
        }
        p {
            font-size: $fs-card;
            line-height: 22px;
        }
        .price {
            span:first-child {
                font-size: $fs-card;
                line-height: 22px;
            }
            span:last-child {
                font-size: $fs20;
                line-height: 24px;
            }
        } 
        .card-body {
            a {
                margin-right: 0;
                img {
                    width: 130px;
                }
            }
            div {
                .stars {
                    margin-top: 0;
                    .star {
                        margin-right: 0;
                    }
                }
                .grains {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                .specification {
                    margin-bottom: 9px;
                }
            }
        }
        button {
            margin-left: 50px;
            @include btn-card (150px);
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    .sorting-coffee-bottom {
        div {
            width: 140px;
            height: 150px;
            span {
                padding-top: 15px;
                padding-bottom: 11px;
            }
        }
    }
}