@import "variables.scss";

//1й вид кнопок
@mixin btn-orange {
    background-color: $orange;
    font-weight: $semi-bold;
    color: $white;
    border-radius: 5px;
    font-family: $ff;
    border: none;
    cursor: pointer;
}

@mixin btn-orange-hover {
    background-color: $orange-hover;
}

@mixin btn-big ($w) {
    width: $w;
    height: 80px;
    font-size: $fs30;
    line-height: 36px;
    @include btn-orange;
}

@mixin btn-product ($w) {
    width: $w;
    height: 60px;
    font-size: $fs-main;
    line-height: 30px;
    @include btn-orange;
}

@mixin btn-card ($w) {
    width: $w;
    height: 48px;
    font-size: $fs-card;
    line-height: 22px;
    @include btn-orange;
}

//2й вид кнопок
@mixin btn-select {
    height: 60px;
    font-family: $ff;
    font-weight: $medium;
    font-size: $fs-main;
    line-height: 30px;
    color: $orange;
    border-radius: 5px;
    cursor: pointer;
}
@mixin btn-not-active ($w) {
    width: $w;
    background-color: $gray-select;
    border: 1px solid $gray2-border;
    @include btn-select;
}

@mixin btn-active ($w) {
    width: $w;
    background-color: $light-pink;
    border: 1px solid $orange;
    @include btn-select;
}

//3й вид кнопок
@mixin btn-show-more {
    cursor: pointer;
    border: none;
    background: none;
    height: 45px;
    font-weight: $regular;
    font-size: $fs20;
    line-height: 24px;
}

@mixin btn-show-black {
    text-decoration-line: underline;
    padding-left: 30px;
    padding-right: 30px;
    @include btn-show-more;
}

@mixin btn-show-orange {
    color: $orange;
    padding-left: 24px;
    padding-right: 21px;
    @include btn-show-more;
}

@mixin btn-show-active {
    background: $gray-bg3;
    border-radius: 30px;
    color: $orange;
}



