@import "style-common.scss";

.contacts {
    background: url(../img/background12-pink.svg) center 895px no-repeat;
    padding-top: 160px;
    .container {
        .contacts-top {
            position: relative;
            margin-bottom: 90px;
            div:first-child {
                padding-top: 40px;
                padding-bottom: 50px;
                a {
                    font-weight: $regular;
                    font-size: $fs-card;
                    line-height: 21px;
                }
            }
            div:nth-child(2) {
                display: flex;
                justify-content: space-between;
                & > button {
                    @include btn-not-active (50%);
                    &:first-child {
                        margin-right: 20px;
                    }
                }
                & > button:first-child {
                    @include btn-active (50%);
                }
            }
        }
        .contacts-middle {
            display: flex;
            justify-content: space-between;
            padding-bottom: 210px;
            .contacts-inform {
                width: 535px;
                h5 {
                    font-weight: $bold;
                    padding-top: 60px;
                    &:first-child {
                        padding-top: 0;
                    }
                }
                p {
                    padding-top: 30px;
                    &:nth-child(3) {
                        padding-top: 10px;
                    }
                }
                & > a {
                    display: inline-block;
                    &:hover {
                        transition: transform 0.5s;
                        transform: scale(1.3);
                        @include btn-active (180px);
                        height: 48px;
                        margin-top: 7px;
                        margin-left: 25px;
                        & > p {
                            padding-top: 10px;
                            padding-left: 10px;
                        }
                    }
                }
            }
            .contacts-shops {
                background: $white;
                display: none;
                p {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                h5 {
                    font-weight: $bold;
                }
            }
            .contacts-map {
                border: 1px solid $black;
            }
        }
    }
}
.subscribe {
    background: url(../img/background4-pink.svg) no-repeat center top,
                url(../img/background6-orange.svg) no-repeat center 21px;
}

@import "media-contacts.scss";