@import "style-common.scss";

.header-fixed {
    z-index: 90;
}
.sorting-coffee {
    background: url(../img/background-or-600.svg) top center no-repeat,
                url(../img/background7-orange.svg) center 598px no-repeat;

    padding-top: 160px;
    .container {
        .sorting-coffee-top {
            position: relative;
            img {
                position: absolute;
                z-index: 9;
                top: -26px;
                right: 32px;
            }
            h2 {
                font-weight: $bold;
                font-size: $fs-h2;
                line-height: 87px;
                color: $white;
                padding-bottom: 146px;
            }
            div {
                padding-top: 40px;
                padding-bottom: 131px;
                a {
                    font-weight: $regular;
                    font-size: $fs-card;
                    line-height: 21px;
                    color: $white;
                }
            }
        }
        .sorting-coffee-middle {
            display: flex;
            margin-bottom: 20px;
            & > div {
                height: 526px;
                box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
                border-radius: 20px;
            }
            & > div:first-child {
                flex-grow: 2;
                background: url(../img/line-vertic.svg) no-repeat 30px 43px,
                            $white;
                padding-left: 95px;
                padding-top: 43px;
                margin-right: 20px;
                h5 {
                    padding-bottom: 46px;
                }
                .custom-checkbox+label::before {
                    vertical-align: 0;
                }
                label {
                    padding-bottom: 49px;
                    display: block;
                }   
            }
            & > div:last-child {
                background: url(../img/line-horizon.svg) no-repeat 87px 36px,
                            $white;
                flex-grow: 7;
                display: flex;
                padding-left: 95px;
                padding-top: 79px;
                h6 {
                    font-weight: $semi-bold;
                    padding-bottom: 30px;
                }
                label {
                    display: block;
                    padding-bottom: 20px;
                    font-weight: $regular;
                    font-size: $fs20;
                    line-height: 24px;
                }
                .geography {
                    padding-right: 77px;
                }
                .sour {
                    padding-right: 64px;
                }
                .special {
                    padding-right: 78px;
                }
            }
        }
        
    }
}
.items {
    background: $gray-bg;
    margin-top: -65px;
    .container {
        .sorting {
            padding-top: 142px;
            padding-bottom: 58px;
            font-weight: $regular;
            font-size: $fs20;
            line-height: 24px;
            margin-left: 58px;
            position: relative;
            #open {
                text-decoration-line: underline;
                cursor: pointer;
                &:hover {
                    color: $orange;
                }
            }
            #list {
               display: none;
               background: $white;
               box-shadow: 0px 0px 20px rgba(103, 103, 103, 0.25);
               border-radius: 5px;
               position: absolute;
               top: 137px;
               left: -17px;
               z-index: 100;
               li {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 30px;
                padding-right: 30px;
                &:hover {
                    color: $orange;
                    background: #FCFCFC;
                }
               }
            } 
            #shadow {
                width: 100vw;
                height: 100vh;
                background: rgba(0,0,0,0.2);
                position: fixed;
                top: 0;
                left: 0;
                z-index: 99;
                display: none;

            }
        }
        .cards-main {
            padding-bottom: 128px;
            #card-wrap {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .card {
                    margin-right: 0;
                    margin-bottom: 70px;
                }
            }

        }
    }
}

@import "media-catalog.scss"