//colors
$black: #000000;
$text-card: #222222;
$white: #FFFFFF;
$orange: #F9B300;
$orange-hover: #E2A300;
$light_gray: #F0F0F0;
$gray: #C6C6C6;
$midle-gray: #747474;
$dark-gray: #5B5B5B;
$gray2-border: #C9C9C9;
$gray-text: #C4C4C4;
$gray-subs: #F3F3F3;
$gray-bg: #F5F5F5;
$gray-bg2: #FCFCFC;
$gray-bg3: #F9F9F9;
$gray-select: #F6F6F6;
$gray-checkbox: #E4E4E4;
$light-pink: #FFF7E1;
$border-small: #B2B2B2;
$border-big: #B3B3B3;

//fonts-size
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs-card: 18px;
$fs20: 20px;
$fs-main: 25px;
$fs30: 30px;
$fs35: 35px;
$fs-h4: 40px;
$fs-h3: 50px;
$fs-h2: 70px;
$fs-h1: 80px;

//fonts-weight
$ultra-light: 400;
$regular: 500;
$medium: 600;
$semi-bold: 700;
$bold: 800;
$heavy: 900;

//font-family
$ff: 'Gilroy', sans-serif;

//media
$container-width: 1660px;